## vscode
/.devcontainer
/.vscode

## Environment variables
/.env
/.env.dev

## Composer
/vendor/
/composer.lock

## Temporary files
/tmp/

## Generated SQL files
/src/Tests/SQL/

## Version management (git)
/.version
/.update

## Builded project
/dist/