<h1>Get started with <u>Framefaced</u></h1>
<p class="fs-5 col-md-10">Thanks for choosing framefaced for your project, if you want contribute you all are welcomed. This project is an open-source project our company using it for manies provided services. He was born recently and we've a goal to maintain it as much as possible and as long as possible !</p>

<div class="mt-4 mb-5">
    <a href="https://github.com/Sketcher-Cloud-Inc/framefaced/releases" target="_blank" class="btn btn-primary btn-lg px-4">Download
        framwork</a>
    <div class="d-inline text-muted px-4">/or/</div>
    <code>~$ git clone https://github.com/Sketcher-Cloud-Inc/framefaced.git</code>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
    <div class="col-md-6">
        <h2>How to start new project?</h2>
        <p>Get ready for prepare your project for you're first launch, follow the "Get started" guide and go! <u>All required informations for your first launch is here.</u></p>
        <ul class="icon-list">
            <li class="text-muted">Download latest version of Framefaced (links above)</li>
            <li><a href="/get-started#environment-variables">Create environment variables</a></li>
            <li><a href="/get-started#development-server">Run a development server</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Guides</h2>
        <p>Need information on something? Search here!</p>
        <ul class="icon-list">
            <li><a href="/apps/">Apps (endpoint)</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/providers/">Providers</a></li>
            <li><a href="/tests/">Tests (Apps & Providers)</a></li>
            <li><a href="/console/">Console (cli)</a></li>
        </ul>
    </div>
</div>